- content_for :head do
  = stylesheet_link_tag 'errship', :media => 'screen, projection'

.errship
  %h1.error_code #{status_code}
  %h2= t "errship.#{status_code}.title" 
  %p= t  "errship.#{status_code}.description"
