- content_for :head do
  = stylesheet_link_tag 'errship', :media => 'screen, projection'

.errship
  %h1.error_code #{status_code}
  - if errship_scope
    %h2= t "errship.#{status_code}.#{errship_scope}.title" 
    %p= t  "errship.#{status_code}.#{errship_scope}.description"
  - else
    %h2= t "errship.#{status_code}.title" 
    %p= t  "errship.#{status_code}.description"
